@model CityAccess.User

@{
    ViewBag.Title = "Password Change";
}
<div class="Header">
    <div class="Section-Title col-md-3">
        <h1>Password Change</h1>
    </div>
</div>



<div class="Content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Password info</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.Oldpassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Oldpassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Oldpassword, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (ViewBag.oldpassword == true)
            {
                <p class="col-md-offset-2" style="color:red;"> Old password incorrect!</p>
            }

            <div class="form-group">
                @Html.Label("New password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.passwordConfirm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.passwordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.passwordConfirm, "", new { @class = "text-danger" })
                </div>
            </div>

             @if (ViewBag.newpassword == true)
              {
                <p class="col-md-offset-2" style="color:red;"> New password cannot be empty!</p>
              }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

