@model CityAccess.Partner

@{
	ViewBag.Title = "Details";
}

<div class="Header">
	<div class="Section-Title col-md-3">
		<h1>Details</h1>
	</div>
</div>



<div class="Content">
	<div>
		<h4>Partner</h4>
		<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tradeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tradeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactPerson)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.invoiceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.invoiceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fiscalID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fiscalID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.countryID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.countryID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.invoiceAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.invoiceAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isAgent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isAgent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isOperator)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isOperator)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.isPublic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isPublic)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.countryID)
            </dd>
        </dl>
	</div>
	<p>
		@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
		@Html.ActionLink("Back to List", "Index")
	</p>

</div>