@model IEnumerable<CityAccess.commissionType>

@{
	ViewBag.Title = "Commission Type";
}

<div class="Header">
	<div class="Section-Title col-md-3">
		<h1>Commission Type</h1>
	</div>
    <div class="Button-Action create-butt">
        @Html.ActionLink("Create New", "Create")
    </div>
</div>


<div class="Content">
	<table class="table">
		<tr>
			<th>
				Label
			</th>
			<th>
				Description
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.label)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.description)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Details", "Details", new { id = item.ID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.ID })
				</td>
			</tr>
		}

	</table>
</div>